$bg-1: #101010;
$bg-2: #181818;
$bg-hover: #252525;
$bg-hover-2: rgba(255, 255, 255, 0.05); 
$bg-border: #4b4b4b;
$bg-border-2: #1e1e1e;
$bg-white: #FFFFFF;
$bg-white-hover: #e2e2e2;

// $border: #2b2d30;
// $border-2: #3d4044;

$text-1: #FFFFFF;
$text-2: #9e9e9e;
$text-3: #6e6e6e;

$color-hover: #3b94ec;
$color-1: #1780ea;
$color-2: #203b56;
$color-3: #384250;

$error-red: rgb(95, 27, 27);

$bg-2-darker: #141414;

$content-width: 620px;

