@import '/sass/var';

.display-section {
    width: 100vw;
    padding-top: 15px;
    text-align: center;

    .no-items-msg {
        padding: 50px;
    }
}

@media (min-width: 600px) {
    .display-section {
        width: $content-width;
    }
}