@import '/sass/var';

.profile-info-component {
    color: rgb(238, 140, 140);
    padding: 0 15px;
    
    .main-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;

        .personal-info {
            color: $text-1;
            display: flex;
            flex-direction: column;
            gap: 8px;
            
            .name {
                font-size: 1.4rem;
                font-weight: 700;
            }
        }

        .image-box {
            background-color: transparent;
            border: none;
            cursor: pointer;
            position: relative;
            height: 70px;
            width: 70px;
            border-radius: 100%;
            overflow: hidden;
            transition: scale .1s ease;

            &:active {
                scale: 0.9;
            }
        }
    }

    .bio {
        color: $text-1;
        margin-top: 20px;
    }

    .followers {
        color: $text-3;
        font-weight: 300;
        margin-top: 15px;
    }

    .action-btn-box {
        margin-top: 20px;
        width: 100%;
        display: flex;
        gap: 15px;

        .btn {
            flex: 1;
            background-color: $bg-1;
            border: 1px solid $bg-border;
            border-radius: 8px;
            color: $text-1;
            font-size: .95rem;
            font-weight: 500;
            padding: 6px;
            cursor: pointer;

            &:active {
                background-color: $bg-2;
            }
        }
    }
}

@media (min-width: 600px) {
    .profile-info-component {
        width: 100%;
        margin-top: 30px;

        .main-info {
            .image-box {
                height: 90px;
                width: 90px;
            }
        }

        .action-btn-box {
            display: none;
        }
    }
}