@import '/sass/var';

.action-menu-component {
    display: flex;
    gap: 12px;
    margin-top: 10px;

    .action-btn {
        cursor: pointer;
        background-color: transparent;
        border-radius: 100%;
        box-sizing: content-box;
        display: grid;
        place-items: center;
        padding: 6px;

        &:hover {
            background-color: $bg-hover;
        }
    }

    .action-btn.repost {
        position: relative;

        svg {
            fill: $text-1;
        }

        .repost-modal-menu {
            position: absolute;
            top: 50%;
            left: 35px;
            transform: translateY(-50%);
            display: none;
            background-color: $bg-2;
            width: 150px;
            border-radius: 15px;
            overflow: hidden;

            .option {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px;
                color: $text-2;
                cursor: pointer;

                svg {
                    fill: $text-2;
                }

                &:first-child {
                    border-bottom: 1px solid $bg-border;
                }

                &:hover {
                    color: $text-1;
                    background-color: $bg-hover;

                    svg {
                        fill: $text-1;
                    }
                }

                .option-text.remove {
                    color: $error-red;

                    & + svg {
                        fill: $error-red
                    }


                }
            }
        }

        .repost-modal-menu.active {
            display: block;
        }
    }
}