@import '/sass/var.scss';

.quote-modal-component {
    z-index: 1500;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .content {
        background-color: $bg-2;
        max-width: $content-width;
        padding: 30px;
        border-radius: 16px;
        border: 1px solid $bg-border;
    }
}