@keyframes spin {
    0% {transform: rotate(0deg)};
    100% {transform: rotate(-360deg);}
}

.loading-spinner {
    position: relative;
    animation: spin 1s linear infinite;
    height: 24px;
    width: 24px;
}

