.auth-page {

    .bg-image {
        padding-top: 20px;

        width: 100%;
        height: 100%;
        background-image: url('/images/auth-bg.webp');
        background-size: 1000px auto;
        background-repeat: no-repeat;
        background-position: 50% 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: 600px) {
        .bg-image {
            background-size: 116.3% auto;
        }
    }
}