@import '/sass/var';

.menu-modal {
    z-index: 1000;
    width: 0px;
    border: none;
    position: absolute;
    right: 0;
    background-color: $bg-2;
    border-radius: 15px;
    overflow: hidden;
    transition: width .2s ease;
    white-space: nowrap;

    ul {
        list-style: none;

        .border {
            border-bottom: 1px solid $bg-border;
        }

        li .item {
            display: block;
            padding: 15px;
            text-decoration: none;
            color: $text-1;
            cursor: pointer;
            font-size: .95rem;
            font-weight: 600;

            &:hover {
                background-color: $bg-hover;
            }
        }
    }
}

.menu-modal.active {
    width: 150px;
    border: 1px solid $bg-border-2;
}