@import '/sass/var';

.profile-page {
    width: 100%;

    .profile-loading {
        height: 180px;
        display: grid;
        place-items: center;
    }
}

@media (min-width: 600px) {
    .profile-page {
        width: $content-width;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}